/* Sets the layout to use flexbox, with a column direction and full height. */
.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Sets the background color of the header. */
.header {
  background-color: #f2f2f2;
}

/* Uses flexbox to align items to the left and center them vertically. */
.headerContainer {
  display: flex;
  justify-content: left;
  align-items: center;
}

/* Uses flexbox to align items to the center, with a left margin and no text decoration. */
.headerTitleContainer {
  display: flex;
  align-items: center;
  margin-left: 14px;
  text-decoration: none;
}

/* Styles the header title with font properties, color, and alignment. */
.headerTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  color: #242424;
}

/* Sets the dimensions and left margin for the header icon. */
.headerIcon {
  height: 32px;
  width: auto;
  margin-left: 36px;
}

/* Uses flexbox to align items in a row, centered horizontally, with a right margin. */
.shareButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 20px;
}

/* Sets the color of the share button. */
.shareButton {
  color: #ffffff;
}

/* Styles the text of the share button with font properties and alignment. */
.shareButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

/* Styles the URL text box with font properties, color, border, and border radius. */
.urlTextBox {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #707070;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

/* Uses flexbox to align items in a row, centered horizontally and vertically, with padding, background, border, and border radius. */
.copyButtonContainer {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 12px;
  gap: 4px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

/*  Changes the background color and cursor on hover for the copy button container. */
.copyButtonContainer:hover {
  cursor: pointer;
  background: #d1d1d1;
}

/* Sets the color of the copy button. */
.copyButton {
  color: #424242;
}

/* Styles the text of the copy button with font properties and alignment. */
.copyButtonText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #242424;
}

/* Adjusts the left margin of the header title container and the header icon for smaller screens. */
@media (max-width: 480px) {
  .headerTitleContainer {
    margin-left: 4px;
  }

  .headerIcon {
    margin-left: 26px;
  }
}
