/* 
* This file sets basic styles for the entire project. 
* Contains:
*   - Global settings: All elements have box-sizing: border-box, which means that the padding and border are included in the overall width and height of the element.
*   - Styles for html and body: Sets height to 100%, removes margin and padding, and sets background to light gray.
*   - Fonts and text smoothing: Defines the list of fonts for the html element and sets the text smoothing for better appearance.
*   - Styles for #root: Sets the height to 100% to ensure that the app's main container takes up the full height of the page.
* 
*/

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  background: #f2f2f2;
  font-family:
    'Segoe UI',
    'Segoe UI Web (West European)',
    'Segoe UI',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}
